@import "vars";

body {
  background-color: $bg;
  color: $font_color;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.mx-datepicker-main {
  background-color: $bg !important;
  border: 1px solid $border_color !important;
}
